################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Storefront/.vs
/Storefront/AX/CSF/bin
/Storefront/AX/CSF/obj/Debug
/Storefront/AX/Lib/Connect.DynamicsRetail
/Storefront/AX/TDSProject_Master/bin
/Storefront/AX/TDSProject_Master/Debug
/Storefront/AX/TDSProject_Master/obj/IconCache
/Storefront/AX/TDSProject_Master/Package_Debug
/Storefront/AX7/CSF/bin
/Storefront/AX7/CSF/obj/Debug
/Storefront/AX7/lib/Connect.DynamicsRetail
/Storefront/AX7/TDSProject_Master/obj/IconCache
/Storefront/Common/CommonSettings/bin
/Storefront/Common/CommonSettings/obj/Debug
/Storefront/Common/Project/bin
/Storefront/Common/Project/obj/Debug
/Storefront/Common/TDSCommon_Master/bin
/Storefront/Common/TDSCommon_Master/Debug
/Storefront/Common/TDSCommon_Master/obj/IconCache
/Storefront/CS/Commerce.Storefront.ProfileDatabase/bin
/Storefront/CS/Commerce.Storefront.ProfileDatabase/obj/Debug
/Storefront/CS/CSF/bin
/Storefront/CS/CSF/obj/Debug
/Storefront/CS/TDSCommerceServer_Master/bin
/Storefront/CS/TDSCommerceServer_Master/Debug
/Storefront/CS/TDSCommerceServer_Master/obj/IconCache
/Storefront/Lib
/Storefront/packages
/Storefront/AX7/TDSProject_Master/bin
/Storefront/AX7/TDSProject_Master/Debug
/Storefront/AX7/TDSProject_Master/Package_Debug
/Storefront/CS/TDSCommerceServer_Master/Package_Debug
/Storefront/CS/Database/Profiles/Commerce.Storefront.ProfileDatabase.dacpac
/Storefront/CS/Commerce.Storefront.ProfileDatabase/Commerce.Storefront.ProfileDatabase.sqlproj.user
