<!--
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <commerce.Entities>
      <Price>
        <patch:attribute name="type">Sitecore.Reference.Storefront.Connect.Models.ExtendedCommercePrice, Sitecore.Reference.Storefront.Common</patch:attribute>
      </Price>
    </commerce.Entities>

    <pipelines>
      <!-- Comment the section below to retrieve the data live from AX instead of the index. -->
      <!--<commerce.prices.getProductBulkPrices patch:source="Sitecore.Commerce.Prices.config">
         --><!--Price information retrieved from the index file.--><!-- 
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Prices.GetProductBulkPrices, Sitecore.Commerce.Connect.DynamicsRetail">
          <patch:attribute name="type">Sitecore.Reference.Storefront.Connect.Pipelines.Prices.GetProductBulkPricesFromIndex, Sitecore.Reference.Storefront.Powered.by.Microsoft.Dynamics</patch:attribute>
          <param ref="entityFactory"/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.GetProductBulkPrices, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </commerce.prices.getProductBulkPrices>-->

      <commerce.prices.getSupportedCurrencies>
        <processor type="Sitecore.Commerce.Pipelines.Prices.GetSupportedCurrencies.GetSupportedCurrencies, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Reference.Storefront.Connect.Pipelines.Prices.GetSupportedCurrencies, Sitecore.Reference.Storefront.Common</patch:attribute>
        </processor>
      </commerce.prices.getSupportedCurrencies>

    </pipelines>
  </sitecore>
</configuration>
