@*//-----------------------------------------------------------------------
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
// -------------------------------------------------------------------------------------------*@

@model Sitecore.Mvc.Presentation.RenderingModel

@{
    int centerWidth = 9;
    int.TryParse(Model.Rendering.Parameters["Center Width"], out centerWidth);
    int leftWidth = 12 - centerWidth;
}

<div id="S02-TwoColumnLeftCenter" class="row">
    <div class="col-md-@leftWidth">
        @Html.Sitecore().Placeholder("left")
    </div>
    <div class="col-md-@centerWidth">
        @Html.Sitecore().Placeholder("center")
    </div>
</div>