<!--
// Copyright 2015 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="storefront" patch:before="site[@name='website']"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/storefront"
            startItem="/home"
            database="web"
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            requireLogin="false"
            hostName="cs.reference.storefront.com"
            contentLanguage="en"
            content="master"
            language="en"
            ItemNotFound="/error/404"
            />
    </sites>
    
    <commerceServer>
      <types>
        <type name="ISiteContext" type="Sitecore.Reference.Storefront.SiteContext, Sitecore.Reference.Storefront.Common" lifetime="Singleton"/>
        <type name="CommerceStorefront" type="Sitecore.Reference.Storefront.Models.SitecoreItemModels.CommerceServerStorefront, Sitecore.Reference.Storefront.Powered.by.CommerceServer" lifetime="PerCall"/>
        <type name="CartCacheHelper" type="Sitecore.Reference.Storefront.CartCacheHelper, Sitecore.Reference.Storefront.Common" lifetime="Singleton"/>
        <type name="OrderHeaderItemBaseJsonResult" type="Sitecore.Reference.Storefront.Models.JsonResults.CSOrderHeaderItemBaseJsonResult, Sitecore.Reference.Storefront.Powered.by.CommerceServer" lifetime="PerCall"/>
        <type name="CartLineBaseJsonResult" type="Sitecore.Reference.Storefront.Models.JsonResults.CSCartLineBaseJsonResult, Sitecore.Reference.Storefront.Powered.by.CommerceServer" lifetime="PerCall"/>
      </types>
    </commerceServer>

    <settings>
      <setting name="IgnoreUrlPrefixes">
        <patch:attribute name="value">/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing|/js|/styles|/bundles</patch:attribute>
      </setting>
      <setting name="ContentSearch.Solr.ServiceBaseAddress">
        <patch:attribute name="value">http://localhost:8080/solr</patch:attribute>
      </setting>
      <setting name="ItemNotFoundUrl">
        <patch:attribute name="value">/error</patch:attribute>
      </setting>
      <setting name="LinkItemNotFoundUrl">
        <patch:attribute name="value">/error</patch:attribute>
      </setting>
      <setting name="LayoutNotFoundUrl">
        <patch:attribute name="value">/error</patch:attribute>
      </setting>
      <setting name="ErrorPage">
        <patch:attribute name="value">/error</patch:attribute>
      </setting>
    </settings>    
    
    <pipelines>
      <initialize>
        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']" type="Sitecore.Reference.Storefront.SitecorePipelines.InitializeBundles, Sitecore.Reference.Storefront.Powered.by.CommerceServer" />
        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']" type="Sitecore.Reference.Storefront.SitecorePipelines.InitializeRoutes, Sitecore.Reference.Storefront.Powered.by.CommerceServer"/>
      </initialize>
      <httpRequestBegin>
        <!-- 
            This processor sets the context item to the product that is matched to incoming URL parameters.
         -->
        <processor type="Sitecore.Reference.Storefront.SitecorePipelines.ProductItemResolver, Sitecore.Reference.Storefront.Common" patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
        <processor type="Sitecore.Reference.Storefront.SitecorePipelines.SecuredPageProcessor, Sitecore.Reference.Storefront.Common" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
      <commerce.orders.submitVisitorOrder>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Orders.Common.TriggerOrderGoal, Sitecore.Commerce']" type="Sitecore.Reference.Storefront.SitecorePipelines.OrderOutcome, Sitecore.Reference.Storefront.Common" />       
      </commerce.orders.submitVisitorOrder>
      <commerce.prices.getProductPrices patch:source="Sitecore.Commerce.Prices.config">
        <processor type="Sitecore.Commerce.Pipelines.Prices.GetProductPrices.GetProductPrices, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Reference.Storefront.Connect.Pipelines.Prices.GetProductPrices, Sitecore.Reference.Storefront.Powered.by.CommerceServer</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.GetProductPrices, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </commerce.prices.getProductPrices>
      <commerce.prices.getProductBulkPrices patch:source="Sitecore.Commerce.Prices.config">
        <processor type="Sitecore.Commerce.Pipelines.Prices.GetProductBulkPrices.GetProductBulkPrices, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Reference.Storefront.Connect.Pipelines.Prices.GetProductBulkPrices, Sitecore.Reference.Storefront.Powered.by.CommerceServer</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.GetProductBulkPrices, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </commerce.prices.getProductBulkPrices>
    </pipelines>

    <linkManager defaultProvider="sitecore">
      <patch:attribute name="defaultProvider">commerce</patch:attribute>
      <providers>
        <add name="commerce" includeFriendlyName="true" useShopLinks="true" includeCatalog="false" addAspxExtension="true" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="asNeeded" languageLocation="filePath" lowercaseUrls="false" shortenUrls="true" useDisplayName="false" type="Sitecore.Reference.Storefront.SitecorePipelines.CatalogLinkProvider, Sitecore.Reference.Storefront.Common"/>
      </providers>
    </linkManager>

    <commerce.Entities>
      <CartLine type="Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceCartLine, Sitecore.Commerce.Connect.CommerceServer">
        <patch:attribute name="type">Sitecore.Reference.Storefront.Models.CustomCommerceCartLine, Sitecore.Reference.Storefront.Common</patch:attribute>
      </CartLine>
      <Party type="Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceParty, Sitecore.Commerce.Connect.CommerceServer">
        <patch:attribute name="type">Sitecore.Reference.Storefront.Connect.Models.CommerceParty, Sitecore.Reference.Storefront.Powered.by.CommerceServer</patch:attribute>
      </Party>
    </commerce.Entities>    

  </sitecore>
</configuration>
