<!--
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commerce.Entities>
      <CustomerParty>
        <patch:attribute name="type">Sitecore.Reference.Storefront.Connect.Models.CommerceCustomerParty, Sitecore.Reference.Storefront.Powered.by.CommerceServer</patch:attribute>
      </CustomerParty>
    </commerce.Entities>

    <pipelines>
      <commerce.customers.getUser>
        <processor type="Sitecore.Commerce.Pipelines.Customers.GetUser.GetUserFromSitecore, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Reference.Storefront.Connect.Pipelines.GetUser, Sitecore.Reference.Storefront.Powered.by.CommerceServer</patch:attribute>
        </processor>
      </commerce.customers.getUser>

      <commerce.customers.addParties>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddPartiesToExternalSystem, Sitecore.Commerce">
          <patch:delete/>>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddPartiesToSitecore, Sitecore.Commerce">
          <patch:delete/>>
        </processor>
        <processor type="Sitecore.Reference.Storefront.Connect.Pipelines.Customers.AddParties, Sitecore.Reference.Storefront.Powered.by.CommerceServer">
          <param ref="entityFactory"/>
        </processor>
      </commerce.customers.addParties>

      <commerce.customers.removeParties>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemovePartiesFromExternalSystem, Sitecore.Commerce">
          <patch:delete/>>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemovePartiesFromSitecore, Sitecore.Commerce">
          <patch:delete/>>
        </processor>
        <processor type="Sitecore.Reference.Storefront.Connect.Pipelines.Customers.RemoveParties, Sitecore.Reference.Storefront.Powered.by.CommerceServer"/>
      </commerce.customers.removeParties>

      <commerce.customers.updateCustomer>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdateCustomer.UpdateCustomerInExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Reference.Storefront.Connect.Pipelines.Customers.UpdateCustomer, Sitecore.Reference.Storefront.Powered.by.CommerceServer</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdateCustomer.UpdateCustomerInSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.updateCustomer>

      <commerce.customers.updateParties>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdatePartiesInExternalSystem, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdatePartiesInSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Reference.Storefront.Connect.Pipelines.Customers.UpdateParties, Sitecore.Reference.Storefront.Powered.by.CommerceServer"/>
      </commerce.customers.updateParties>

      <commerce.customers.getParties>
        <processor type="Sitecore.Commerce.Pipelines.Customers.GetPartiesFromExternalSystem, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.GetPartiesFromSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Reference.Storefront.Connect.Pipelines.Customers.GetParties, Sitecore.Reference.Storefront.Powered.by.CommerceServer">
          <param ref="entityFactory"/>
        </processor>
      </commerce.customers.getParties>
      
      

      <translate.entityToCommerceAddressProfile>
        <processor type="Sitecore.Reference.Storefront.Connect.Pipelines.Customers.TranslateEntityToCommerceAddressProfile, Sitecore.Reference.Storefront.Powered.by.CommerceServer"/>
      </translate.entityToCommerceAddressProfile>

      <translate.commerceAddressProfileToEntity>
        <processor type="Sitecore.Reference.Storefront.Connect.Pipelines.Customers.TranslateCommerceAddressProfileToEntity, Sitecore.Reference.Storefront.Powered.by.CommerceServer"/>
      </translate.commerceAddressProfileToEntity>
      
    </pipelines>
  </sitecore>
</configuration>