<!--
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commerce.Entities>
      <ShippingOptionType>
        <patch:attribute name="type">Sitecore.Reference.Storefront.Connect.Models.ShippingOptionType, Sitecore.Reference.Storefront.Powered.by.CommerceServer</patch:attribute>
      </ShippingOptionType>
    </commerce.Entities>

    <pipelines>
      <commerce.shipping.getShippingMethods>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.GetShippingMethods, Sitecore.Commerce.Connect.CommerceServer">
          <patch:attribute name="type">Sitecore.Reference.Storefront.Connect.Pipelines.Shipping.GetShippingMethods, Sitecore.Reference.Storefront.Powered.by.CommerceServer</patch:attribute>
        </processor>
      </commerce.shipping.getShippingMethods>
      
      <commerce.shipping.getShippingOptions>
        <processor type="Sitecore.Reference.Storefront.Connect.Pipelines.Shipping.GetShippingOptions, Sitecore.Reference.Storefront.Powered.by.CommerceServer">
          <param ref="entityFactory"/>
        </processor>
      </commerce.shipping.getShippingOptions>
    </pipelines>
  </sitecore>
</configuration>