<!--
// Copyright 2015 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--  CATALOG SERVICE PROVIDER
    -->
    <catalogServiceProvider type="Sitecore.Reference.Storefront.Services.CatalogServiceProvider, Sitecore.Reference.Storefront.Common" singleInstance="true" />

    <pipelines>
      <commerce.storefront.visitedProductDetailsPage>
        <processor type="Sitecore.Reference.Storefront.SitecorePipelines.TriggerVisitedProductDetailsPagePageEvent, Sitecore.Reference.Storefront.Common">
          <Name>Visited Product Details Page</Name>
          <Text>Visited product details page.</Text>
        </processor>
      </commerce.storefront.visitedProductDetailsPage>
      <commerce.storefront.visitedCategoryPage>
        <processor type="Sitecore.Reference.Storefront.SitecorePipelines.TriggerVisitedCategoryPagePageEvent, Sitecore.Reference.Storefront.Common">
          <Name>Visited Category Page</Name>
          <Text>Visited category page.</Text>
        </processor>
      </commerce.storefront.visitedCategoryPage>
      <commerce.storefront.searchInitiated>
        <processor type="Sitecore.Reference.Storefront.SitecorePipelines.TriggerSearchPageEvent, Sitecore.Reference.Storefront.Common">
          <Name>Search</Name>
          <Text>Search initiated.</Text>
        </processor>
      </commerce.storefront.searchInitiated>
    </pipelines>
  </sitecore>
</configuration>