<?xml version="1.0"?>
<configuration>
  <system.web.webPages.razor>
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="Sitecore.Data" />
        <add namespace="Sitecore.Data.Items" />
        <add namespace="Sitecore.Reference.Storefront.Models" />
        <add namespace="Sitecore.Reference.Storefront.Extensions" />
        <add namespace="Sitecore.Commerce.Connect.CommerceServer.Orders.Models"/>
        <add namespace="Sitecore.Commerce.Connect.CommerceServer.Profiles.Models"/>
        <add namespace="Sitecore.Commerce.Connect.CommerceServer.Inventory.Models"/>
        <add namespace="Sitecore.Commerce.Connect.CommerceServer"/>
        <add namespace="Sitecore.Globalization"/>
        <add namespace="Sitecore.Reference.Storefront"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.web>
    <pages 
        validateRequest="false"
        pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <namespaces>
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
  </system.web>
</configuration>