<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <sectionGroup name="CommerceServer">
      <section name="application" type="CommerceServer.Core.Runtime.Configuration.CommerceApplicationSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="authentication" type="CommerceServer.Core.Runtime.Configuration.CommerceAuthenticationSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="pipelines" type="CommerceServer.Core.Runtime.Configuration.CommercePipelineSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="caches" type="CommerceServer.Core.Runtime.Configuration.CommerceCacheSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="messageManager" type="CommerceServer.Core.Runtime.Configuration.CommerceMessageManagerSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="catalog" type="CommerceServer.Core.Runtime.Configuration.CommerceCatalogSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="orders" type="CommerceServer.Core.Runtime.Configuration.CommerceOrdersSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="profiles" type="CommerceServer.Core.Runtime.Configuration.CommerceProfilesSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="contentSelection" type="CommerceServer.Core.Runtime.Configuration.CommerceContentSelectionSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="commerceEvent" type="CommerceServer.Core.Runtime.Configuration.EventLoggerConfigurationHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="expressions" type="CommerceServer.Core.Runtime.Configuration.CommerceExpressionSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
    </sectionGroup>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly name="WebGrease" xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" xmlns="urn:schemas-microsoft-com:asm.v1" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly name="Antlr3.Runtime" xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" xmlns="urn:schemas-microsoft-com:asm.v1" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.9004" newVersion="3.4.1.9004" />
      </dependentAssembly>
      <dependentAssembly name="Castle.Windsor" xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" xmlns="urn:schemas-microsoft-com:asm.v1" />
        <bindingRedirect oldVersion="1.0.0.0-3.3.0.0" newVersion="3.3.0.0" xmlns="urn:schemas-microsoft-com:asm.v1" />
      </dependentAssembly>
      <dependentAssembly name="Castle.Core" xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" xmlns="urn:schemas-microsoft-com:asm.v1" />
        <bindingRedirect oldVersion="1.0.0.0-3.3.0.0" newVersion="3.3.0.0" xmlns="urn:schemas-microsoft-com:asm.v1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <cachingConfiguration configSource="Caching.config" />

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <!-- Required for profile provider when used in combination with Facebook login via Social Connected - http://sdn.sitecore.net/products/social connected module/social connected 1,-d-,3.aspx -->
    <profile defaultProvider="switcher" enabled="true" inherits="Sitecore.Security.UserProfile, Sitecore.Kernel">
      <properties>
        <clear/>
        <add type="System.String" name="SC_UserData"/>
      </properties>
    </profile>

    <caching>
      <cache disableMemoryCollection="false" disableExpiration="false"  percentagePhysicalMemoryUsedLimit="50" />
    </caching>

    <compilation targetFramework="4.5.1" defaultLanguage="c#">
      <assemblies>
        <add assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add assembly="CommerceServer.Core.Catalog, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add assembly="CommerceServer.Core.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </assemblies>
    </compilation>

    <customErrors mode="RemoteOnly" defaultRedirect="/error" />

    <httpRuntime targetFramework="4.5.1" requestValidationMode="2.0"/>

    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
    </pages>

    <sessionState mode="InProc" cookieless="false" timeout="1">
      <providers>
        <add name="mongo" type="Sitecore.SessionProvider.MongoDB.MongoSessionStateProvider, Sitecore.SessionProvider.MongoDB" sessionType="Standard" connectionStringName="session" pollingInterval="2" compression="true" />
        <add name="mssql" type="Sitecore.SessionProvider.Sql.SqlSessionStateProvider, Sitecore.SessionProvider.Sql" sessionType="Standard" connectionStringName="session" pollingInterval="2" compression="true" />
      </providers>
    </sessionState>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="BundleModule"/>
      <add type="System.Web.Optimization.BundleModule" name="BundleModule"/>
      <add name="CommerceApplication" type="CommerceServer.Core.Runtime.CommerceApplicationModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <add name="CommerceCatalog" type="CommerceServer.Core.Runtime.Catalog.CommerceCatalogModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <add name="CommerceOrder" type="CommerceServer.Core.Runtime.Orders.CommerceOrderModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <add name="CommerceProfileModule" type="CommerceServer.Core.Runtime.Profiles.CommerceProfileModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <add name="CommerceExpressionEvaluator" type="CommerceServer.Core.Runtime.Targeting.CommerceExpressionModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <add name="CommerceCache" type="CommerceServer.Core.Runtime.Caching.CommerceCacheModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
    </modules>

    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

  </system.webServer>

  <CommerceServer>
    <application siteName="CSSolutionStorefrontSite" debugLevel="Production" disableProductVersionHttpHeader="true"/>
    <pipelines>
      <pipeline name="basket" path="pipelines\basket.pcf" transacted="false" type="OrderPipeline" loggingEnabled="false" />
      <pipeline name="checkout" path="pipelines\checkout.pcf" transacted="true" type="OrderPipeline" loggingEnabled="false" />
      <pipeline name="product" path="pipelines\product.pcf" transacted="false" type="OrderPipeline" loggingEnabled="false" />
      <pipeline name="total" path="pipelines\total.pcf" transacted="false" type="OrderPipeline" loggingEnabled="false" />
      <pipeline name="advertising" path="pipelines\advertising.pcf" transacted="false" type="CSFPipeline" loggingEnabled="false" />
      <pipeline name="discounts" path="pipelines\discounts.pcf" transacted="false" type="CSFPipeline" loggingEnabled="false" />
      <pipeline name="recordevent" path="pipelines\recordevent.pcf" transacted="false" type="CSFPipeline" loggingEnabled="false" />
      <pipeline name="creditcard" path="pipelines\creditcard.pcf" transacted="false" type="OrderPipeline" loggingEnabled="false" />
    </pipelines>
    <caches>
      <cache name="Advertising" type="Advertising" refreshInterval="900" retryInterval="30" />
      <cache name="Discounts" type="Discounts" refreshInterval="0" retryInterval="30" />
      <cache name="ShippingManagerCache" type="Shipping" loaderProgId="Commerce.ShippingMethodCache" refreshInterval="0" retryInterval="30" />
      <cache name="PaymentMethodCache" type="Payment" />
      <cache name="OrdersConfigurationCache" type="OrdersConfiguration" />
    </caches>
    <messageManager>
      <cultures default="en-us" baseName="CommerceMessageManager" assembly="CommerceMessageManager">
        <culture id="en-us" />
      </cultures>
      <resources>
        <resource id="pur_badsku" />
        <resource id="pur_badplacedprice" />
        <resource id="pur_discount_changed" />
        <resource id="pur_discount_removed" />
        <resource id="pur_noitems" />
        <resource id="pur_badshipping" />
        <resource id="pur_badhandling" />
        <resource id="pur_badtax" />
        <resource id="pur_badcc" />
        <resource id="pur_badpayment" />
        <resource id="pur_badverify" />
        <resource id="pur_out_of_stock" />
        <resource id="unknown_shipping_method" />
      </resources>
    </messageManager>
    <catalog>
      <cache enable="true" schemaTimeout="10" itemInformationCacheTimeout="10" itemHierarchyCacheTimeout="10" itemRelationshipsCacheTimeout="10" itemAssociationsCacheTimeout="10" catalogCollectionCacheTimeout="10" />
    </catalog>
    <commerceEvent>
      <add className="CommerceServer.Core.Runtime.AddItemToBasketEvent" id="AddItemToBasket" loggingEnabled="false" />
      <add className="CommerceServer.Core.Runtime.RemoveItemFromBasketEvent" id="RemoveItemFromBasket" loggingEnabled="false" />
      <add className="CommerceServer.Core.Runtime.SubmitOrderEvent" id="SubmitOrder" loggingEnabled="false" />
      <add className="CommerceComponents.Common.CancelOrderEvent, CommerceComponents" id="CancelOrder" loggingEnabled="false" />
      <add className="CommerceComponents.Common.PromoCodeRedeemedEvent, CommerceComponents" id="PromoCodeRedeemed" loggingEnabled="false" />
      <add className="CommerceComponents.Common.UserSignInEvent, CommerceComponents" id="UserSignIn" loggingEnabled="false" />
      <add className="CommerceComponents.Common.RelatedProductClickEvent, CommerceComponents" id="RelatedProductClick" loggingEnabled="false" />
      <add className="CommerceComponents.Common.RelatedCategoryClickEvent, CommerceComponents" id="RelatedCategoryClick" loggingEnabled="false" />
    </commerceEvent>
    <orders honorStatus="true" newOrderStatus="NewOrder">
      <addressMap name="Address">
        <property from="GeneralInfo.address_id" to="OrderAddressId" />
        <property from="GeneralInfo.first_name" to="FirstName" />
        <property from="GeneralInfo.last_name" to="LastName" />
        <property from="GeneralInfo.address_line1" to="Line1" />
        <property from="GeneralInfo.address_line2" to="Line2" />
        <property from="GeneralInfo.city" to="City" />
        <property from="GeneralInfo.region_code" to="RegionCode" />
        <property from="GeneralInfo.postal_code" to="PostalCode" />
        <property from="GeneralInfo.country_code" to="CountryCode" />
        <property from="GeneralInfo.country_name" to="CountryName" />
        <property from="GeneralInfo.region_name" to="State" />
        <property from="GeneralInfo.tel_number" to="DaytimePhoneNumber" />
      </addressMap>
      <Types>
        <Type Key="Basket" UserTypeName="Basket" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="PurchaseOrder" UserTypeName="PurchaseOrder" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="OrderTemplate" UserTypeName="OrderTemplate" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="OrderForm" UserTypeName="OrderForm" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="LineItem" UserTypeName="LineItem" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="Shipment" UserTypeName="Shipment" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="Payment" UserTypeName="Payment" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="CreditCardPayment" UserTypeName="CreditCardPayment" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="GiftCertificatePayment" UserTypeName="GiftCertificatePayment" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="PurchaseOrderPayment" UserTypeName="PurchaseOrderPayment" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="CashCardPayment" UserTypeName="CashCardPayment" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="OrderAddress" UserTypeName="OrderAddress" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="DiscountApplicationRecord" UserTypeName="DiscountApplicationRecord" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="ShippingDiscountRecord" UserTypeName="ShippingDiscountRecord" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="PromoCodeRecord" UserTypeName="PromoCodeRecord" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </Types>
      <Limits OrderFormsPerOrderGroup="5" PromoCodeRecordsPerOrderForm="10" PromoCodesPerOrderForm="10" LineItemsPerOrderForm="40" OrderTemplatesPerUser="10" PaymentsPerOrderForm="10" ShipmentsPerOrderForm="40" BasketsPerUser="15" OrderAddressesPerOrderGroup="10" />
      <MappingFiles PipelineMappingFilename="OrderPipelineMappings.xml" StorageMappingFilename="OrderObjectMappings.xml" />
    </orders>
    <profiles>
      <userProfile profileDefinition="UserObject" userIdProperty="GeneralInfo.user_id" organizationIdProperty="AccountInfo.org_id" catalogSetIdProperty="AccountInfo.user_catalog_set" userIdSource="ASP.NET" userIdKey="GeneralInfo.email_address" userIdTarget="GeneralInfo.user_id" />
      <storeProfile profileDefinition="StoreObject" storeIdProperty="GeneralInfo.store_id" storeIdKey="GeneralInfo.store_name" />
      <organizationProfile profileDefinition="Organization" organizationIdProperty="GeneralInfo.org_id" catalogSetIdProperty="GeneralInfo.org_catalog_set" />
      <encryption>
        <keys keyIndex="1">
          <add type="publicKey" value= "registry:HKEY_LOCAL_MACHINE\SOFTWARE\CommerceServer\Encryption\Keys\CSSolutionStorefrontSite,PublicKey" />
          <add type="privateKey1" value="registry:HKEY_LOCAL_MACHINE\SOFTWARE\CommerceServer\Encryption\Keys\CSSolutionStorefrontSite,PrivateKey" />
        </keys>
      </encryption>
    </profiles>
    <expressions schema="Auto" />
  </CommerceServer>
</configuration>