<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly name="WebGrease" xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" xmlns="urn:schemas-microsoft-com:asm.v1" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly name="Antlr3.Runtime" xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" xmlns="urn:schemas-microsoft-com:asm.v1" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.9004" newVersion="3.4.1.9004" />
      </dependentAssembly>
      <dependentAssembly name="Castle.Windsor" xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" xmlns="urn:schemas-microsoft-com:asm.v1" />
        <bindingRedirect oldVersion="1.0.0.0-3.3.0.0" newVersion="3.3.0.0" xmlns="urn:schemas-microsoft-com:asm.v1" />
      </dependentAssembly>
      <dependentAssembly name="Castle.Core" xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" xmlns="urn:schemas-microsoft-com:asm.v1" />
        <bindingRedirect oldVersion="1.0.0.0-3.3.0.0" newVersion="3.3.0.0" xmlns="urn:schemas-microsoft-com:asm.v1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <cachingConfiguration configSource="Caching.config" />

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <profile defaultProvider="switcher"/>

    <caching>
      <cache disableMemoryCollection="false" disableExpiration="false"  percentagePhysicalMemoryUsedLimit="50" />
    </caching>

    <customErrors defaultRedirect="/error" />

    <sessionState timeout="1"/>
  </system.web>
</configuration>