<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="CommerceServer">
      <section name="application" type="CommerceServer.Core.Runtime.Configuration.CommerceApplicationSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="authentication" type="CommerceServer.Core.Runtime.Configuration.CommerceAuthenticationSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="pipelines" type="CommerceServer.Core.Runtime.Configuration.CommercePipelineSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="caches" type="CommerceServer.Core.Runtime.Configuration.CommerceCacheSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="messageManager" type="CommerceServer.Core.Runtime.Configuration.CommerceMessageManagerSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="catalog" type="CommerceServer.Core.Runtime.Configuration.CommerceCatalogSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="orders" type="CommerceServer.Core.Runtime.Configuration.CommerceOrdersSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="profiles" type="CommerceServer.Core.Runtime.Configuration.CommerceProfilesSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="contentSelection" type="CommerceServer.Core.Runtime.Configuration.CommerceContentSelectionSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="commerceEvent" type="CommerceServer.Core.Runtime.Configuration.EventLoggerConfigurationHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      <section name="expressions" type="CommerceServer.Core.Runtime.Configuration.CommerceExpressionSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
    </sectionGroup>
  </configSections>

  <CommerceServer>
    <application siteName="CSSolutionStorefrontSite" debugLevel="Production" disableProductVersionHttpHeader="true"/>
    <pipelines>
      <pipeline name="basket" path="pipelines\basket.pcf" transacted="false" type="OrderPipeline" loggingEnabled="false" />
      <pipeline name="checkout" path="pipelines\checkout.pcf" transacted="true" type="OrderPipeline" loggingEnabled="false" />
      <pipeline name="product" path="pipelines\product.pcf" transacted="false" type="OrderPipeline" loggingEnabled="false" />
      <pipeline name="total" path="pipelines\total.pcf" transacted="false" type="OrderPipeline" loggingEnabled="false" />
      <pipeline name="advertising" path="pipelines\advertising.pcf" transacted="false" type="CSFPipeline" loggingEnabled="false" />
      <pipeline name="discounts" path="pipelines\discounts.pcf" transacted="false" type="CSFPipeline" loggingEnabled="false" />
      <pipeline name="recordevent" path="pipelines\recordevent.pcf" transacted="false" type="CSFPipeline" loggingEnabled="false" />
      <pipeline name="creditcard" path="pipelines\creditcard.pcf" transacted="false" type="OrderPipeline" loggingEnabled="false" />
    </pipelines>
    <caches>
      <cache name="Advertising" type="Advertising" refreshInterval="900" retryInterval="30" />
      <cache name="Discounts" type="Discounts" refreshInterval="0" retryInterval="30" />
      <cache name="ShippingManagerCache" type="Shipping" loaderProgId="Commerce.ShippingMethodCache" refreshInterval="0" retryInterval="30" />
      <cache name="PaymentMethodCache" type="Payment" />
      <cache name="OrdersConfigurationCache" type="OrdersConfiguration" />
    </caches>
    <messageManager>
      <cultures default="en-us" baseName="CommerceMessageManager" assembly="CommerceMessageManager">
        <culture id="en-us" />
      </cultures>
      <resources>
        <resource id="pur_badsku" />
        <resource id="pur_badplacedprice" />
        <resource id="pur_discount_changed" />
        <resource id="pur_discount_removed" />
        <resource id="pur_noitems" />
        <resource id="pur_badshipping" />
        <resource id="pur_badhandling" />
        <resource id="pur_badtax" />
        <resource id="pur_badcc" />
        <resource id="pur_badpayment" />
        <resource id="pur_badverify" />
        <resource id="pur_out_of_stock" />
        <resource id="unknown_shipping_method" />
      </resources>
    </messageManager>
    <catalog>
      <cache enable="true" schemaTimeout="10" itemInformationCacheTimeout="10" itemHierarchyCacheTimeout="10" itemRelationshipsCacheTimeout="10" itemAssociationsCacheTimeout="10" catalogCollectionCacheTimeout="10" />
    </catalog>
    <commerceEvent>
      <add className="CommerceServer.Core.Runtime.AddItemToBasketEvent" id="AddItemToBasket" loggingEnabled="false" />
      <add className="CommerceServer.Core.Runtime.RemoveItemFromBasketEvent" id="RemoveItemFromBasket" loggingEnabled="false" />
      <add className="CommerceServer.Core.Runtime.SubmitOrderEvent" id="SubmitOrder" loggingEnabled="false" />
      <add className="CommerceComponents.Common.CancelOrderEvent, CommerceComponents" id="CancelOrder" loggingEnabled="false" />
      <add className="CommerceComponents.Common.PromoCodeRedeemedEvent, CommerceComponents" id="PromoCodeRedeemed" loggingEnabled="false" />
      <add className="CommerceComponents.Common.UserSignInEvent, CommerceComponents" id="UserSignIn" loggingEnabled="false" />
      <add className="CommerceComponents.Common.RelatedProductClickEvent, CommerceComponents" id="RelatedProductClick" loggingEnabled="false" />
      <add className="CommerceComponents.Common.RelatedCategoryClickEvent, CommerceComponents" id="RelatedCategoryClick" loggingEnabled="false" />
    </commerceEvent>
    <orders honorStatus="true" newOrderStatus="NewOrder">
      <addressMap name="Address">
        <property from="GeneralInfo.address_id" to="OrderAddressId" />
        <property from="GeneralInfo.first_name" to="FirstName" />
        <property from="GeneralInfo.last_name" to="LastName" />
        <property from="GeneralInfo.address_line1" to="Line1" />
        <property from="GeneralInfo.address_line2" to="Line2" />
        <property from="GeneralInfo.city" to="City" />
        <property from="GeneralInfo.region_code" to="RegionCode" />
        <property from="GeneralInfo.postal_code" to="PostalCode" />
        <property from="GeneralInfo.country_code" to="CountryCode" />
        <property from="GeneralInfo.country_name" to="CountryName" />
        <property from="GeneralInfo.region_name" to="State" />
        <property from="GeneralInfo.tel_number" to="DaytimePhoneNumber" />
      </addressMap>
      <Types>
        <Type Key="Basket" UserTypeName="Basket" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="PurchaseOrder" UserTypeName="PurchaseOrder" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="OrderTemplate" UserTypeName="OrderTemplate" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="OrderForm" UserTypeName="OrderForm" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="LineItem" UserTypeName="LineItem" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="Shipment" UserTypeName="Shipment" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="Payment" UserTypeName="Payment" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="CreditCardPayment" UserTypeName="CreditCardPayment" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="GiftCertificatePayment" UserTypeName="GiftCertificatePayment" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="PurchaseOrderPayment" UserTypeName="PurchaseOrderPayment" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="CashCardPayment" UserTypeName="CashCardPayment" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="OrderAddress" UserTypeName="OrderAddress" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="DiscountApplicationRecord" UserTypeName="DiscountApplicationRecord" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="ShippingDiscountRecord" UserTypeName="ShippingDiscountRecord" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <Type Key="PromoCodeRecord" UserTypeName="PromoCodeRecord" AssemblyType="GAC" NameSpace="CommerceServer.Core.Runtime.Orders" Assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </Types>
      <Limits OrderFormsPerOrderGroup="5" PromoCodeRecordsPerOrderForm="10" PromoCodesPerOrderForm="10" LineItemsPerOrderForm="40" OrderTemplatesPerUser="10" PaymentsPerOrderForm="10" ShipmentsPerOrderForm="40" BasketsPerUser="15" OrderAddressesPerOrderGroup="10" />
      <MappingFiles PipelineMappingFilename="OrderPipelineMappings.xml" StorageMappingFilename="OrderObjectMappings.xml" />
    </orders>
    <profiles>
      <userProfile profileDefinition="UserObject" userIdProperty="GeneralInfo.user_id" organizationIdProperty="AccountInfo.org_id" catalogSetIdProperty="AccountInfo.user_catalog_set" userIdSource="ASP.NET" userIdKey="GeneralInfo.email_address" userIdTarget="GeneralInfo.user_id" />
      <storeProfile profileDefinition="StoreObject" storeIdProperty="GeneralInfo.store_id" storeIdKey="GeneralInfo.store_name" />
      <organizationProfile profileDefinition="Organization" organizationIdProperty="GeneralInfo.org_id" catalogSetIdProperty="GeneralInfo.org_catalog_set" />
      <encryption>
        <keys keyIndex="1">
          <add type="publicKey" value= "registry:HKEY_LOCAL_MACHINE\SOFTWARE\CommerceServer\Encryption\Keys\CSSolutionStorefrontSite,PublicKey" />
          <add type="privateKey1" value="registry:HKEY_LOCAL_MACHINE\SOFTWARE\CommerceServer\Encryption\Keys\CSSolutionStorefrontSite,PrivateKey" />
        </keys>
      </encryption>
    </profiles>
    <expressions schema="Auto" />
  </CommerceServer>
</configuration>