@*//-----------------------------------------------------------------------
    // Copyright 2016 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@

@using Sitecore.Reference.Storefront.Managers;
@model ProductViewModel
@{
    if (Model == null)
    {
        return;
    }
}

<div id="C08-ProductImages" class="product-image-container">
    <div class="prod-img">
        @using (Html.EditFrame(Model.Item.Paths.FullPath, CommerceConstants.KnownItemPaths.EditFrameImages))
        {
            if (Model.Images == null || !Model.Images.Any())
            {
                @Html.Sitecore().Field("Image", Html.Sitecore().CurrentItem, new { Parameters = new Sitecore.Collections.SafeDictionary<string> { { "class", "img-responsive" }, { "id", "prod-large-view" } } })
            }
            else
            {
                <img src="@Model.Images[0].GetImageUrl(770, 625)" class="img-responsive" alt="a" id="prod-large-view" />
            }
        }
    </div>
    <div class="thumbnails">
        @if (Model.Images != null && Model.Images.Any())
        {
            <ul>
                @foreach (var mediaItem in Model.Images)
                {
                    <li><a href="@mediaItem.GetImageUrl(770, 625)"><img src="@mediaItem.GetImageUrl(80, 65)" class="img-responsive" alt="a" /></a></li>
                }
            </ul>
        }
    </div>
</div>